/*body start*/
body{
    background: linear-gradient(to right,teal, purple);
}
@import url("fa_icons/font-awesome.min.css");
/*body end*/
/*Navbar start*/
.navbar{
    background: linear-gradient(to right,teal, purple);
    background-size: cover;
  }
  .dropdown-menu{
    background: linear-gradient(to right, teal, purple);
  }
  .dropdown-item{
    color: white;
  }
a{
    color:white;
}
a:active, a:focus{
    background:transparent;
}
.nav-item>a:hover{
    text-decoration: underline;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
  /*Navbar end*/
/*carousel start*/
.carousel-indicators>li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
}
.carousel-item >video{
        height: 700px !important;
        width: 1000px;
}
/*carousel end*/
/*card_one start*/
.icon{
    font-size: 60px;
    text-align: center;
    background: linear-gradient(90deg, #0072ff 0%, teal 100%);
    height: 100px !important;
     width: 100px !important;
    margin: auto;
    position: relative;
    top: -45px;
    border-radius: 50%;
    color: white;
    border: 5px solid white;
    
}
.card_one{
background: linear-gradient(to right, teal, purple);
box-shadow: 5px 5px 15px white;
color: white;
border-radius: 0;
cursor: pointer;
margin-top: 50px !important;
padding: 10px;
text-align: center;
}
.card_one:hover .bi {
color: black;
background-color: red;
}
.card_one >.card-body{
margin-top: -30px;
}
/*card_one end */
/*card_two start*/
#img_three{
    height: 360px !important;
    box-shadow: 10px 10px 10px white;
}
.accordion-button {
    background: linear-gradient(to right, teal, purple) !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
}
.accordion-button:focus,
.accordion-button:hover{
    text-transform:capitalize;
    border: 2px solid white;
    box-shadow: none;
    color: white;
}
 .accordion-body{
    background: linear-gradient(to right, teal, purple) !important;
    color: white;
}  
/*card_two end*/
/*card three start*/
.line{
    width: 100px;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}

.img_team{
    height: 300px;
    width: 350px !important;
    object-fit: cover;
}
.card_team{
    border:none;
}
.col_team{
    padding-left: 100px;
}
.col_8_team {
    background: linear-gradient(to right, teal, purple);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 233px;
    position: absolute;
    left: 220px;
    width: 47.666667%!important;
    top: 38px;
}
.col_4_team {
    flex: 0 0 auto;
    width: 52.33333333% !important;
    
}   
.icon_team{
    font-size: 25px !important;
    color: white;
    cursor: pointer;
}
.card_team{
    background: linear-gradient(to right, teal, purple);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
@media only screen and (max-width: 600px) {
    .col_8_team {
        left: 0px;
        background: linear-gradient(to right, teal, purple);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        top: 300px !important;
        width: 100%!important;
    }
    .col_4_team {
        flex: 0 0 auto;
        width: 100% !important;
    } 
    .img_team {
        width: 500px !important;
        height: 500px !important;
    }
    .col_team {
        padding-left: 10px;
    }
    .content_team{
        padding-bottom: 250px !important;
    }
  }
/*card three end*/
/*part four*/
#contact{
    background: linear-gradient(to right, teal, purple);
}
#contact .row {
/* margin: 50px 150px; */
padding: 50px 250px;

}
.form-one input{
    background: linear-gradient(to right, teal, purple);
}
.form-one input:focus{
    background: linear-gradient(to right, teal, purple);
    box-shadow: none;
    border: 2px solid white;
}
.form-one textarea{
    background: linear-gradient(to right, teal, purple);
}
.follow{
    color: white !important;
    background: linear-gradient(to right, teal, purple);
    padding: 10px;
    margin: 3px;
    border-radius: 20px;
}
#video{
    margin: 40px;
    width: 350px;
    box-shadow: 20px 20px 10px white;
    
}
.footer{
    background: linear-gradient(to right, teal, purple);
    padding: 40px 150px;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    
}
.footer .box-container .box{
    flex: 1 1 25rem;
    width: 250px;
    padding: 20px 20px;
}
.footer .box-container .box a{
   
    color: white;
}
.footer .box-container .box a:hover{
    text-decoration: underline;
    padding: 1rem 0;
}
/*part four*/
@media only screen and (max-width:400px){
    .navbar-toggler{
        background: linear-gradient(to right, teal, purple);
    }
    #img_three{
        width: 200px;
        margin: 20px;
    }
    #btn_four{
        margin: 0% 35%;
    }
    .two span{
        display: block;
    }
    .three span{
        display: block;
    }
    .footer{
        margin: 0px;
        padding: 0;
    }
    textarea{
        width: 350px;
        overflow: hidden;
    }
}
@media only screen and (max-width:500px){
    .navbar-toggler{
        background: linear-gradient(to right, teal, purple);
    }
    #img_three{
        width: 400px;
        margin: 10px;
    }
    #btn_four{
        margin: 0% 35%;
    }
    .footer{
        margin: 0;
        padding: 0;
    }
    .two .three{
        position: relative;
    }
    .two span{
        display: block;
        position: absolute;
    }
    .three span{
        display: block;
        position: absolute;
    }
    .form-one input{
        width: 350px;
    }
    textarea{
        width: 360px !important;
        overflow: hidden;
    }
   #video{
    margin: 10px;
    width: 320px;
    box-shadow: 20px 20px white;
   }
}
